﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="log in.aspx.cs" Inherits="_Default" %>
<%@Import Namespace="System.Data" %>
<%@ Import Namespace="System.Data.SqlClient" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script>
	    massege = "The project for school!";

	    massege = "..." + massege;
	    position = 0;
	    function scrollMSG()
	    {
	        document.title = massege.substring(position, msg.length) + massege.substring(0, position);
	        position++;
	        if (position > massege.length) position = 0
	        window.setTimeout("scrollMSG()",200);
	    }
	    scrollMSG();
    </script>

     <script runat="server" >
        DataSet ds=new DataSet();

        public void Page_Load(object sender,EventArgs e)
        {
            
            string connStr = @"Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\User\Documents\Visual Studio 2013\WebSites\WebSite2\App_Data\Database.mdf;Integrated Security=True";
            SqlConnection conn = new SqlConnection(connStr);
            string sql="SELECT* FROM tblSt";
            SqlDataAdapter adapter=new SqlDataAdapter(sql,conn);
            
            conn.Open();
            adapter.Fill(ds);
            conn.Close();

        }
        
        public bool checkUser()
        {
            string name = Session["user"].ToString();
            string password = Session["password"].ToString();
            DataRow dr;
            for (int k = 0; k < ds.Tables[0].Rows.Count; k++)
            {
                dr = ds.Tables[0].Rows[k];
                if (dr.ItemArray[1].ToString() == name && dr.ItemArray[2].ToString() == password)
                {
                    return true;
                }
                
            
            }
            return false;
             
        }
        </script>

    <style>
	h1
	{
		font-family:Verdana, Geneva, sans-serif;
		color:#ffff00;
	}
	h1:hover 
	{
		color:black;
	}
	#first
	{
		text-align:center;
		font-size:125%;
		color:gray;
		font-family: sans-serif;
		margin:0;
		
	}
	h3
	{
		background-color: #5A3314;
		color: white;
		padding: 16px 20px;
		margin: 10px 0;
		border: none;
		cursor: default;
		width: 100%;
		font-family:"Comic Sans MS", cursive, sans-serif;
		font-size:170%;
		
	}
	#contact_form
	{
		
		font-size:200%;
		text-align:center;
		background-color: #5A3314;
		color: white;
		padding: 16px 20px;
		margin: 10px 0;
		border: none;
		cursor: default;
		width: 100%;
		font-family:"Comic Sans MS", cursive, sans-serif;
	}
	#submit_button{
		background-color: #5A3314;
		color: white;
		padding: 12px 18px;
		margin: 6px 0;
		border: none;
		cursor: pointer;
		font-size:150%;
		font-family:Impact, Charcoal, sans-serif;
	}
	#register_button{
		background-color: #5A3314;
		color: white;
		padding: 12px 18px;
		margin: 6px 0;
		border: none;
		cursor: pointer;
        text-decoration: none;
		font-size:150%;
		font-family:Impact, Charcoal, sans-serif;
	}
</style>

</head>
<body background="http://i.stack.imgur.com/jGlzr.png">

    <div id="first">
		<div >
			<img src="http://img11.deviantart.net/4c36/i/2016/040/7/d/pc_master_race_by_kingvego-d9r6gtn.png" alt="Jon Snow" width="200" height="200"/>
		</div>
		<h1>Master PC Race<br/>The Best Place To See the Besties</h1>
		<h3>Log in:</h3>
	</div>

    <form id ="contact_form" runat="server" action="log in.aspx" method="post">
    
	<label for="first-name">First name*</label><br/>
	<input id="name" type="text" name="firstname" value=""  size = "30" required="required" pattern = "[a-zA-Z]{2-12}" title="Only 2 to 12 latters!"/><br/>
		
    <label for="password">Password*:</label><br />
	<input id="password" class="input" name="password" type="password" value="" size="30" required="required" autocomplete/><br />
	
	<input id="submit_button" type="submit" value="Register" onclick ="checkUser();"/>
	<a id="register_button" href="register.aspx">Register</a>
   
        
    <%
	if(IsPostBack)
    {
	    String pass=Request.Form["password"];
        String name = Request.Form["firstname"];
        
        Session["user"] = name;
        Session["password"] = pass;
        
        if (checkUser() == true)
        {
            Response.Redirect("home.html");
        }
	}

	%>
        
    </form>
</body>
</html>
